/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
  }
  
  mat-card {
    width: 500px;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #3f51b514;
    border-radius: 1rem;
    mat-card-content{
        width: 100%;
     
        mat-form-field{
            width: 75%;
           
        }
    }
    .mat-mdc-form-field-infix{
        width: 100%;
    }
    .button-row{
        width: 100%;
        display: flex;
        align-items: center;
        place-content: center;
        >div{
            display: flex;
            width: 75%;
            gap: 1rem;
            button{
                width: 100%;
            }
        }
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  